.mobile-container {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: #010C15;
    display: flex; 
    flex-direction: column; 
    animation: none;
    z-index: 3;
}

.mobile-container.activein {
    animation: slide-in 0.5s ease-in-out forwards; 
}
  
.mobile-container.activeout {
    animation: slide-out 0.5s ease-in-out forwards;
}

@keyframes slide-in {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slide-out {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.mobile-close {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.mobile-list {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100%; 
    overflow-x: auto; 
    overflow-y: hidden; 
}

.mobile-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    margin-top: 1rem;
    padding: 1rem;
    flex-shrink: 0;
    cursor: pointer;
    background-color: #152E77;
    border-radius: .5rem;
    transition: background-color 0.3s;
}

.mobile-list__item:hover {
    background-color: #0056b3;
}

.mobile-list__link {
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
}

.mobile-list__item--container {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mobile-list__item--functions {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 5rem;
    margin-top: 1rem;
    padding: 1rem;
    flex-shrink: 0;
    cursor: pointer;
    background-color: #152E77;
    border-radius: .5rem;
    transition: background-color 0.3s;
}

.mobile-list__item--functions:hover {
    background-color: #0056b3;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .mobile-close {
        width: 2.2rem;
        height: 2.2rem;
    }

    .mobile-list__item {
        width: 16rem;
    }

    .mobile-list__link {
        font-size: 1.5rem;
    }

    .mobile-list__item--container {
        gap: 6rem;
    }
}

@media screen and (min-width: 1025px) {
    
}