.hero-container {
    position: relative;
    height: 100vh; 
    width: 100%;
    overflow: hidden;
}

.hero-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.hero-container__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 1rem;
    z-index: 1; 
}

.hero-container__brandname {
    color: #F9F9F9;
}

.hero-container__nav {
   
}

.hero__menu {
    width: 1.5rem; 
    height: 1.5rem; 
    cursor: pointer;
}

.hero-container__section {
    position: relative;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    color: white;
    font-size: 2rem;
}

.hero-container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container__name {
    font-weight: 900;
}

.hero-container__position {
    font-weight: bold;
    color: white;
    text-shadow: 
        2px 2px 0px #000,   /* Bottom right shadow */
        -2px 2px 0px #000,  /* Bottom left shadow */
        2px -2px 0px #000,  /* Top right shadow */
        -2px -2px 0px #000; /* Top left shadow */
}

.hero-container__btn {
    display: flex;
    width: 12rem;
    margin-top: 5rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #010C15;
    color: #F9F9F9;
    border-radius: 2rem;
    border: 2px;
    border-color: #E6E6E6;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.hero-container__btn:hover {
    background-color: #0056b3;
}

.hero-container__btn-svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .4rem;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .hero__menu-desktop {
        display: none; /* Show the desktop menu on tablet */
    }

    .hero-container__header {
        align-items: center; /* Adjust for tablet layout */
    }

    .hero-container__brandname {
        font-size: 2rem;
        color: #F9F9F9;
    }

    .hero__menu {
        width: 2rem; 
        height: 2rem; 
        cursor: pointer;
    }

    .hero-container__content p,
    .hero-container__content span {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1025px) {
    .hero__menu-desktop {
        display: block; /* Show the desktop menu */
    }

    .hero-container__header {
        align-items: flex-start; /* Desktop-specific adjustments */
    }
}