
.aboutme-section {
    background-color: #010C15;
    color: #F9F9F9;
}

.aboutme-section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.aboutme-section__content--title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}

.aboutme-section__content--avatar {
    width: 14rem;
    height: 14rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 10rem;
}

.aboutme-section__content--description {
    max-width: 75rem;
    padding: 1rem;
}

.aboutme-section__work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme-section__work--title {
    margin-top: 6rem;
    margin-bottom: 4rem;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.33px;
}

.aboutme-section__work--reasons {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 3.6rem;
    padding: .5rem 0px;
    gap: .7rem;
    border-radius: .5rem;
    border: 2px solid #152E77; 
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.aboutme-section__work--reasons:hover {
    transform: translateY(4px); /* Adds a hover effect */
    background-color: #2d3559; /* Slightly lighter background on hover */
}

.aboutme-section__work--svg {
    width: 1.5rem;
    height: 1.5rem;
}

.aboutme-section__tech--title {
    margin-top: 6rem;
    margin-bottom: 4rem;
    padding: 1rem;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.33px;
}

.aboutme-section__tech--container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: .6rem;
    margin-bottom: 4rem;
}

.aboutme-section__tech--svgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 4.6rem;
    border-radius: 0.5rem;
    border: 2px solid #152E77;
}

.aboutme-section__tech--text {
    font-size: .8rem;
    font-style: normal;
    font-weight: 600;
}

.aboutme-section__tech--figma {
    width: 41px;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .aboutme-section__content--title {
        font-size: 2.5rem;
    }

    .aboutme-section__content--description {
        font-size: 1.4rem;
    }

    .aboutme-section__work--title {
        font-size: 2rem;
    }

    .aboutme-section__container-reasons {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        align-content: center;
        gap: .5rem;
    }

    .aboutme-section__work--reasons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18rem;
        height: auto;
        padding: 15px 20px;
    }

    .aboutme-section__work--text {
        font-size: 1.3rem;
    }

    .aboutme-section__work--svg {
        width: 2rem;
        margin-right: 10px;
    }

    .aboutme-section__tech--title {
        font-size: 2rem;
    }

    .aboutme-section__tech--container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: .6rem;
    }
}

@media screen and (min-width: 1025px) {
    .aboutme-section__content--title {
        margin-top: 5rem;
        font-size: 3rem;
    }

    .aboutme-section__content--description {
        font-size: 1.6rem;
    }

    .aboutme-section__work--title {
        font-size: 2.1rem;
    }

    .aboutme-section__container-reasons {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        align-items: center;
        gap: .7rem;
    }

    .aboutme-section__work--reasons {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 18rem;
        height: auto;
        padding: 1.5rem;
        text-align: center;
    }

    .aboutme-section__work--text {
        font-size: 1.3rem;
    }

    .aboutme-section__work--svg {
        width: 2rem;
    }

    .aboutme-section__tech--container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: .9rem;
    }
}